
body{
  margin: 0;
}

header{
  width: 100%;
  background-color:#8EB69B;
  height: 12rem;
  margin: 0;

}

footer{
  width: 100%;
  height: 8rem;
  background-color: #8EB69B;
  bottom: 0;
  position: fixed;
}


/* CSS */
.button{
  background-image: linear-gradient(-180deg, #E7CBAE, #B5838D);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 5px;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  height: 3rem;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  text-align: center;
  width: 60%;
  border: 0;
  transition: box-shadow .2s;
  justify-content: center;
  left: 20%;
  margin-top: 4rem;
}

.button-42:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}

.main{
  height: 70vh;
  width: auto;
  background-color:#FAF5EF;
  align-items: center;
  position: relative;
  margin-top: 0;
}

.div1{
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 0;
  padding-top: 2rem;
}

.logo{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.navbar{
  width: 100%;
  height: 6rem;

  background-color: #8EB69B;
  display: flex;
}

.navbutton{
  width: 25%;
  padding: 1.5rem;
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p_button{
  max-width: 100%;
  width: 2rem;

}

#8EB69B
#FAF5EF
#000000
#E7CBAE
#B5838D
#FFFFFF